 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Eric and Kelsey are getting married on beautiful Whidbey Island on August 29, 2015.</p>
                </div>
                <div class="col-lg">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d681924.2191803784!2d-122.56310136571958!3d48.11474027203482!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x28c6c863362a9fe9!2sCrockett+Farm+LLC!5e0!3m2!1sen!2sus!4v1411327852963" max-width="800" height="400" frameborder="0" style="border:0"></iframe>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>